@import url('https://fonts.googleapis.com/css?family=Fondamento|Tomorrow&display=swap');

$basefont: 'Tomorrow', sans-serif;
$headfont: 'Fondamento', cursive;
$basecolor: rgb(120, 250, 155);

$round: 25px;
